@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

*::selection {
  background-color: var(--color-blue-500);
  color: var(--color-white);
}

@theme {
  --font-sans: "Raleway", sans-serif;
  --color-*: initial;

  /* White */
  --color-white: #fff;

  /* Red */
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  --color-red-300: oklch(0.808 0.114 19.571);
  --color-red-400: oklch(0.704 0.191 22.216);
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-red-600: oklch(0.577 0.245 27.325);
  --color-red-700: oklch(0.505 0.213 27.518);
  --color-red-800: oklch(0.444 0.177 26.899);
  --color-red-900: oklch(0.396 0.141 25.723);
  --color-red-950: oklch(0.258 0.092 26.042);

  /* Bleu */
  --color-blue-50: #ebf6ff;
  --color-blue-100: #d6edff;
  --color-blue-200: #aed9ff;
  --color-blue-300: #85c5ff;
  --color-blue-400: #4babfd;
  --color-blue-500: #0388fc; /* Base */
  --color-blue-600: #0271d3;
  --color-blue-700: #025baa;
  --color-blue-800: #014581;
  --color-blue-900: #013058;
  --color-blue-950: #012545;

  /* Neutral */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #e6e6e6;
  --color-neutral-200: #d1d1d1;
  --color-neutral-300: #b0b0b0;
  --color-neutral-400: #909090;
  --color-neutral-500: #6b6b6b;
  --color-neutral-600: #525252;
  --color-neutral-700: #363636;
  --color-neutral-800: #222222;
  --color-neutral-900: #121212;
  --color-neutral-950: #070707;

  /* Gray */
  --color-gray-50: var(--color-neutral-50);
  --color-gray-100: var(--color-neutral-100);
  --color-gray-200: var(--color-neutral-200);
  --color-gray-300: var(--color-neutral-300);
  --color-gray-400: var(--color-neutral-400);
  --color-gray-500: var(--color-neutral-500);
  --color-gray-600: var(--color-neutral-600);
  --color-gray-700: var(--color-neutral-700);
  --color-gray-800: var(--color-neutral-800);
  --color-gray-900: var(--color-neutral-900);
  --color-gray-950: var(--color-neutral-950);

  /* Black */
  --color-black: #000;
}
